{% extends 'layout.html' %}

{% block head %} {% endblock %}


{% block content %}
         
<div id='WeekView' class='position-relative block' >          
        
            
    <div class='col-11 ' >
       

      <div class="row text-center ">        
        <div class="col-1 offset-3 " ><h1 id='backward'><i class="fas fa-arrow-down"></i></h1></div>
        <div class="col-6 " id= 'cal_header' ><h2>March 2021</h2></div>
        
        <div class="col-1  " ><h1 id='forward'><i class="fas fa-arrow-up" ></i></h1></div>
      </div> 
      <div class="row row-cols text-center  " style="height:60px;font-size:30px " id='weekD'>
        <div class="col"> <div class='col-3 offset-9'></div>               </div>
        <div class="col m-1 border border-success rounded-circle text-truncate bg-success"></div>
        <div class="col m-1 border border-success rounded-circle text-truncate bg-success"></div>
        <div class="col m-1 border border-success rounded-circle text-truncate bg-success"></div>
        <div class="col m-1 border border-success rounded-circle text-truncate bg-success"></div>
        <div class="col m-1 border border-success rounded-circle text-truncate bg-success"></div>
        <div class="col m-1 border border-success rounded-circle text-truncate bg-success" ></div>
        <div class="col m-1 border border-success rounded-circle text-truncate bg-success"></div>
      </div>
      <div id='vf' style='position:relative; '>
        
      <div class="row row-cols " style="height:30px;font-size:20px; " name='row'  >
        <div class="col  text-right text-top "style="font-size:15px; position:relative; top: -10px;"name='timee' >00:00</div> 
        <div class="col border  rounded "'><div class='row row-cols' name='event'></div></div> 
        <div class="col border  rounded "><div class='row row-cols' name='event'></div></div>
        <div class="col border  rounded "><div class='row row-cols' name='event'></div></div>
        <div class="col border  rounded "><div class='row row-cols' name='event'></div></div>
        <div class="col border  rounded "><div class='row row-cols' name='event'></div></div>
        <div class="col border  rounded "><div class='row row-cols' name='event'></div></div>
        <div class="col border  rounded "><div class='row row-cols' name='event'></div></div>
      </div>
    </div>
    </div>  
</div>            

{% endblock %}
{% block footer %}
<script src="{{url_for('static', filename = 'weekly.js')}}"></script>
{% endblock %}
